* {
    box-sizing: border-box;
}

header h1 {
    text-align: center;
}

header h1 a {
    font-size: 46px;
    color: palevioletred;
    text-decoration: none;
}

.high-scores a {
    color: darkblue;
    text-decoration: none;
    float: left;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 25px;
}

.high-scores p {
    float: right;
    margin-top: 15px;
    margin-right: 100px;
    font-size: 20px;
}

/* Timer opposite high scores (float right)*/

.question-box {
    border-bottom: solid 4px gray;
    margin: 0 300px 0 300px;
}

.question-box h2 {
    margin-top: 120px;
    margin-bottom: 42px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
}

.question-box li {
    padding-bottom: 30px;
    margin-left: 240px;
    font-size: 20px;
}

.question-box button {
    margin-left: 115px;
    margin-bottom: 18px;
    font-size: 25px;
    background-color: blue;
    color: white;
}

#start-btn {
    color: green;
    font-size: 50px;
    margin: 15px 0 0 550px;
}

#restart-btn {
    color: red;
    font-size: 50px;
    margin: 15px 0 0 100px;
}